.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
}
.container__form-container {
  background: rgb(48, 47, 47);
  padding: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.form-container__title {
  margin-bottom: 20px;
  color: #ff7543;
  text-align: center;
}
.form-container__input-group {
  margin-bottom: 15px;
  margin-right: 30px;
  margin-left: 20px;
}
.form-container__button {
  width: 20%;
  padding: 10px;
  background-color: #ff7543;
  color: white;
  border: none;
  margin-top: 20px;
  border-radius: 4px;
  margin-left: 273px;
  cursor: pointer;
}
.form-container__button:hover {
  background-color: #ff5010;
}

.input-group__label {
  display: block;
  margin-bottom: 5px;
  color: white;
}
.input-group__input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.input-group__error-message {
  color: rgb(255, 0, 0);
  font-size: 15px;
}


.register-link {
  text-align: left;
  margin-top: -20px;
  margin-left: 22px;
  color: white;
  font-size: 13px;
}
.register-link__a {
  color: #ff7543;
  text-decoration: none;
}
.register-link__a:hover {
  text-decoration: underline;
}

.todo-container {
    max-width: 470px;
    margin: 20px auto;
    padding: 15px;
    background-color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-title {
    text-align: center;
    color: #ff7543;
    font-size: 24px;
    margin-bottom: 15px;
}

.todo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-input-group {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.todo-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.todo-button {
    padding: 10px 15px;
    border: none;
    background-color: #ff7543;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 3px;
}

.todo-error-message {
    color: red;
    font-size: 12px;
    text-align: center;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.todo-item label {
    flex: 1;
    margin-left: 10px;
}

.todo-item input[type="checkbox"] {
    cursor: pointer;
}


.todo-completed {
  text-decoration: line-through;
  color: grey;
}
.todo-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.todo-text {
  flex: 1;
}

.todo-item .todo-actions {
  position: absolute;
  right: 5px;
  display: flex;
  align-items: center;
}

.todo-item .todo-actions select,
.todo-item .todo-actions button {
  margin-left: 10px;
}